<div class="container">
  <h2 class="tui-space_top-0" [style.textAlign]="'center'">Login</h2>

  <form [formGroup]="form" class="tui-row">
    <tui-input formControlName="username" class="tui-col_12">
      Username
    </tui-input>

    <tui-input-password
      formControlName="password"
      class="tui-col_12 tui-space_vertical-4"
    >
      Password
    </tui-input-password>

    <button
      size="m"
      tuiButton
      type="submit"
      class="tui-col_12"
      (click)="onSubmit()"
      [disabled]="form.invalid"
    >
      Submit
    </button>

    <tui-error
      *ngIf="error$ | async as message"
      [error]="message"
      class="tui-space_top-2"
    ></tui-error>
  </form>
</div>
